# Корреляция Пирсона

In [16]:
import pandas as pd
import numpy as np

Есть ли связь между неграмотностью и рождаемостью? Для 94 стран, уровень неграмотности женщин в которых больше 5%, известны доля неграмотных среди женщин старше 15 (на 2003 год) и средняя рождаемость на одну женщину (на 2005 год).

Чему равен выборочный коэффициент корреляции Пирсона между этими двумя признаками? Округлите до четырёх знаков после десятичной точки.

In [17]:
data = pd.read_csv('illiteracy.txt', sep = '\t', header = 0, parse_dates = [2])

In [18]:
data.head()

   Country  Illit Births
0  Albania   20.5   1.78
1  Algeria   39.1   2.44
2  Bahrain   15.0   2.34
3   Belize    5.9   2.97
4    Benin   73.5    5.6

In [56]:
data.dtypes

Country     object
Illit      float64
Births      object
dtype: object

In [62]:
data1 = data[['Illit', 'Births']].astype('float')

In [63]:
# pd.DataFrame.correlation принимает необязательный параметр method , указав, 
# какой алгоритм использовать. По умолчанию используется pearson .
data1['Illit'].corr(data1['Births'], method='pearson')

0.7686630271151788

Чему равен выборочный коэффициент корреляции Спирмена признаков из предыдущего вопроса? Округлите до четырёх знаков после десятичной точки.

In [66]:
round(data1['Illit'].corr(data1['Births'], method='spearman'), 4)

0.753