#### Для 61 большого города в Англии и Уэльсе известны средняя годовая смертность на 100000 населения (по данным 1958–1964) и концентрация кальция в питьевой воде (в частях на миллион). Чем выше концентрация кальция, тем жёстче вода. Города дополнительно поделены на северные и южные.

In [1]:
import numpy as np
import pandas
from matplotlib import pyplot as plt
import seaborn
%matplotlib inline
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [3]:
data = pandas.read_csv("water.txt", sep='\t')

In [4]:
data.sample(5)

   location         town  mortality  hardness
22    North      Halifax       1742         8
28    North    Liverpool       1772        15
56    South      Walsall       1527        60
7     South  Bournemouth       1299        78
45    North      Salford       1987         8

Постройте 95% доверительный интервал для средней годовой смертности в больших городах. Чему равна его нижняя граница? Округлите ответ до 4 знаков после десятичной точки.

Будьте осторожны при использовании метода $std()$! Дело в том, что у объекта numpy он по умолчанию вычисляется как $√1/n∑(i=1,n)(Xi−X¯)^2$,

а у объекта pandas — как

$√1/(n−1)∑(i=1,n)(Xi−X¯)^2$.

Нас интересует только второй вариант, несмещённая оценка стандартного отклонения.

Чтобы не думать всё время о том, правильно ли вычисляется в вашем случае $std()$, можно всегда использовать $std(ddof=1) (ddof — difference in degrees of freedom)$, тогда нормировка всегда будет на $n-1$.

In [5]:
from statsmodels.stats.weightstats import _zconfint_generic, _tconfint_generic

In [20]:
mort_array = array(data['mortality'])
type(mort_array)

numpy.ndarray

In [10]:
mort_mean = data['mortality'].mean()

In [22]:
mort_array_std = mort_array.std(ddof=1)/sqrt(len(mort_array))

In [23]:
mort_array_std

24.028521714278174

In [24]:
print " 95%% confidence interval", _tconfint_generic(mort_mean, mort_array_std,
                                                                       len(mort_array) - 1,
                                                                       0.05, 'two-sided')

 95%% confidence interval (1476.0833413552848, 1572.2117406119285)

In [25]:
low_board = _tconfint_generic(mort_mean, mort_array_std, len(mort_array) - 1, 0.05, 'two-sided')[0]

In [27]:
round(low_board, 4)

1476.0833

На данных из предыдущего вопроса постройте 95% доверительный интервал для средней годовой смертности по всем южным городам. Чему равна его верхняя граница? Округлите ответ до 4 знаков после десятичной точки.

In [30]:
data_south = data[data['location'] == 'South']
data_south.tail(3)

   location           town  mortality  hardness
57    South  West Bromwich       1627        53
58    South       West Ham       1486       122
59    South  Wolverhampton       1485        81

In [36]:
mort_array_s = array(data_south['mortality'])
mort_mean_s = data_south['mortality'].mean()
mort_mean_s

1376.8076923076924

In [37]:
mort_array_std_s = mort_array_s.std(ddof=1)/sqrt(len(mort_array_s))
mort_array_std_s

27.509048538240833

In [38]:
print " 95%% confidence interval", _tconfint_generic(mort_mean_s, mort_array_std_s,
                                                                       len(mort_array_s) - 1,
                                                                       0.05, 'two-sided')

 95%% confidence interval (1320.1517462936238, 1433.463638321761)

In [39]:
top_board_s = _tconfint_generic(mort_mean_s, mort_array_std_s, len(mort_array_s) - 1, 0.05, 'two-sided')[1]
round(top_board_s, 4)

1433.4636

На тех же данных постройте 95% доверительный интервал для средней годовой смертности по всем северным городам. Пересекается ли этот интервал с предыдущим? Как вы думаете, какой из этого можно сделать вывод?

In [41]:
data_north = data[data['location'] == 'North']
data_north.tail(3)

   location        town  mortality  hardness
53    North  Sunderland       1709        71
55    North    Wallasey       1625        20
60    North        York       1378        71

In [42]:
mort_array_n = array(data_north['mortality'])
mort_mean_n = data_north['mortality'].mean()
mort_mean_n

1633.6

In [43]:
mort_array_std_n = mort_array_n.std(ddof=1)/sqrt(len(mort_array_n))
mort_array_std_n

23.146562624816188

In [44]:
print " 95%% confidence interval", _tconfint_generic(mort_mean_s, mort_array_std_s,
                                                                       len(mort_array_s) - 1,
                                                                       0.05, 'two-sided')

print " 95%% confidence interval", _tconfint_generic(mort_mean_n, mort_array_std_n,
                                                                       len(mort_array_n) - 1,
                                                                       0.05, 'two-sided')

 95%% confidence interval (1320.1517462936238, 1433.463638321761)
 95%% confidence interval (1586.5605251961385, 1680.6394748038613)

Пересекаются ли 95% доверительные интервалы для средней жёсткости воды в северных и южных городах?

In [57]:
hardness_n = array(data[data['location']=='North']['hardness'])
hardness_s = array(data[data['location']=='South']['hardness'])
hardness_n_mean = data[data['location']=='North']['hardness'].mean()
hardness_s_mean = data[data['location']=='South']['hardness'].mean()
print hardness_n_mean, hardness_s_mean

30.4 69.7692307692

In [58]:
hardness_n_std = hardness_n.std(ddof=1)/sqrt(len(hardness_n))
hardness_s_std = hardness_s.std(ddof=1)/sqrt(len(hardness_s))
print hardness_n_std, hardness_s_std

4.417535721274871 7.9153808776248935

In [59]:
print " 95%% confidence interval", _tconfint_generic(hardness_s_mean, hardness_s_std,
                                                                       len(hardness_s) - 1,
                                                                       0.05, 'two-sided')

print " 95%% confidence interval", _tconfint_generic(hardness_n_mean, hardness_n_std,
                                                                       len(hardness_n) - 1,
                                                                       0.05, 'two-sided')

 95%% confidence interval (53.467198692036106, 86.07126284642544)
 95%% confidence interval (21.42248728572426, 39.37751271427574)

Вспомним формулу доверительного интервала для среднего нормально распределённой случайной величины с дисперсией $\sigma^2$

$X¯±z(1−α/2)σ/√n$
При $\sigma=1$ какой нужен объём выборки, чтобы на уровне доверия 95% оценить среднее с точностью $\pm0.1$?

In [61]:
from scipy import stats

In [62]:
np.ceil((stats.norm.ppf(1-0.05/2) / 0.1)**2)

385.0

Объём выборки, необходимый для построения доверительного интервала заданной ширины:
* увеличивается с увеличением требуемой ширины
* увеличивается с ростом дисперсии выборки
* уменьшается с ростом $\alpha$
* увеличивается с ростом $\alpha$
* уменьшается с ростом дисперсии выборки
* увеличивается с уменьшением требуемой ширины

In [63]:
np.ceil((stats.norm.ppf(1-0.09/2) / 0.1)**2)

288.0